<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>697158494512-br2qdlq4se32da3pc3ap4tvhbcn26tgm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.697158494512-br2qdlq4se32da3pc3ap4tvhbcn26tgm</string>
	<key>API_KEY</key>
	<string>AIzaSyCqKokqJKy8i6hieGJMSBEBpG88D107QO4</string>
	<key>GCM_SENDER_ID</key>
	<string>697158494512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.safemilo.app</string>
	<key>PROJECT_ID</key>
	<string>safemilo</string>
	<key>STORAGE_BUCKET</key>
	<string>safemilo.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:697158494512:ios:e49ab6114ce2ede1e2c0f5</string>
</dict>
</plist>